* {
    box-sizing: border-box
}

body {
    margin: 0;
}

.page-background {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.nav {
    background-color:#404c74;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 14px 16px;
    text-align: center;
    margin: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px; 
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav li {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li:hover {
    background-color:#777;
}

.nav li:active {
    background-color:#555;
}

.nav li a {
    text-decoration:none;
}

h1 {
    text-align: center;
}

p {
    max-width: 650px;
    margin: auto;
    text-align: center;
}

.mb-3 {
    width: 230px;
    height: 340px;
    color: #fff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 25px;
    border-radius: 8px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    text-align: center;
}

table {
    text-align: center;
}

.table-bordered {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.table-bordered th, .table-bordered td {
    padding: 0.75rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
  }

.search-organ {
    text-align: center;
}

.search-organ input {
    padding: 8px;
    font-size: 16px;
}

.search-organ button {
    padding: 10px 15px;
    font-size: 18px;
}

.create {
    text-align: center;
    bottom: 0;
    margin-bottom: 0px
}
